# Crime in Los Angeles from 2010-2017

Group Members:
Gabriella DePietro, UID: 116021319
Flora Chan, UID: 116557047
Anjali Devagupta, UID: 116076265

Dataset is retrieved from: https://www.kaggle.com/datasets/cityofLA/crime-in-los-angeles?resource=download

## Introduction

## Data Collection and Parsing

Prior to the data collection, we'll need to import the required modules that will help us analyze, breakdown, and visualize the data.

In [6]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

After registering the necessary modules, to read the data we'll need the package "Pandas". 

Pandas is respsonsible for .....
In the following snippet, we'll use this module to read the csv file and convert our data to a DataFrame. 

A dataframe is...

In [7]:
crime_data = pd.read_csv("Crime_Data_2010_2017.csv", sep=',')
crime_data.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,1208575,03/14/2013,03/11/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
1,102005556,01/25/2010,01/22/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"
2,418,03/19/2013,03/18/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)"
3,101822289,11/11/2010,11/10/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)"
4,42104479,01/11/2014,01/04/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"

We'll then notice the details provided in this dataset: 

- DR number, Division of Records Number
- Date Reported
- Date Occurred
- Time Occurred
- Area ID
- Area Name
- Reporting District
- Crime Code
- Crime Code Description
- MO Codes
- Weapon Description
- Status Code
- Status Description
- Crime Code 1 
- Crime Code 2 
- Crime Code 3 
- Crime Code 4
- Address
- Cross Street
- Location